<div class="column link-item-wrapper">
        <div class="link-container link-item">
          <a href="{{url}}" class="link-url" target="_blank"></a>
          <div class="link-image-wrapper" style="background-image: url({{image_url}});">
            <a href="{{url}}" class="link-title" target="_blank">{{title}}</a>
          </div>
          <div class="link-desc">{{link_desc}}</div>
          <div class="link-footer">
            <div class="domain">
              <img src="https://img.readitlater.com/i/hbr.org/favicon.ico?f=fi">
              <a href="{{domain}}" class="link-domain">{{domain}}</a>
            </div>

            <div class="link-controls right aligned">
              <a href="javascript:;"><i class="trash icon"></i></a>
            </div>
          </div>
        </div>
      </div>
